.main-results{

    width:80%;
    margin-left:10%;
    margin-right: 10%;

    border: 3px solid #ddddff;

}
.item-c{
     border-radius: 8px;
    margin-top:5%;
    margin-bottom:5%;
    background-color: #fafafa;
    border: 3px solid #fff;




}
a{


    text-decoration: none;

}
.item-title{

    font-size: 25px;
    text-align: center;
    padding-left: 20%;



}
.item-image{
width:100px;
    height:100px;



}
.item-price{

    position: relative;

    left:45%;



}
.item-externallink{
background-color: darkorange;
    border-color: transparent;
    position: relative;
    margin-left: 80%;
    margin-right:5%;
    margin-bottom:5%;
}